MyTestAPI/__pycache__/__init__.cpython-311.pyc
MyTestAPI/api/__pycache__/spacecrafts.cpython-311.pyc
MyTestAPI/impl/__pycache__/__init__.cpython-311.pyc
MyTestAPI/impl/__pycache__/spacecrafts.cpython-311.pyc
MyTestAPI/schemas/__pycache__/model.cpython-311.pyc
